<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Original Word: <%= @word %></h1>
    <h1>Your Pig Latinized Translation: <%= @pig_latin_word %></h1>
  </body>
</html>