<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latin Output</h1>
    # code the output here...
    <p><%= @piglatinizer %></p>
  </body>
</html>