<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinized Message</title>
  </head>
  
  <body>
    <h1>Your phrase in pig latin is:</h1>
    <h3><%= @pig_latin_phrase %></h3>
  </body>
</html>
