<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latin Output</h1>
    <p><%= @piglatinizer.piglatinize(params[:user_phrase]) %></p>
  </body>
</html>