<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Piglatinized</title>
  </head>
  <body>
    <h1>Piglatinized Phrase: <%= PigLatinizer.new.piglatinize(@phrase) %></h1>
  </body>
</html>
