<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <p>Your analyzed here:</p>
  
    <p> <%= @latinizer.piglatinize(@analyzed_text) %>  </p>  
    
    
  </body>
</html>