<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Translation Complete!</h1>
    <p>Your new word: <%= @translation %></p>
  </body>
</html>