<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>PigLatinizer</title>
</head>
<body>
  <!-- <%=@piglatinizer.to_pig_latin(@phrase)%> -->
  <p>
    <!-- <%=@piglatinizer.to_pig_latin(@text)%> -->
    <%= @user_phrase.translator 5>
    <%= @user_phrase %>
  </p>
</body>
</html>
