<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <p>Here is your translated phrase: </p>
    <p><%= @user_phrase %></p>
  </body>
  </html>
