<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Translated</title>
  </head>
  <body>
    <h1>Translation Complete!</h1>
    <p>Your new word: <%= @translated_s %></p>
  </body>
</html>
