<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <h2>Before Pig Latin:</h2>
    <h3><%= params[:user_phrase] %></h3>    

    <h2>After Pig Latin:</h2>
    <h3><%= @piglatinizer.piglatinize(params[:user_phrase]) %></h3>  
  </body>
</html>