<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Pig Latinizer!</h2>
    <%= @latinizer_instance.piglatinize(@user_phrase) %>
  </body>
</html>