<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Text Translation</h1>

    <h2><%= @translated_text.translator %></h2>

  </body>
</html>
