<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h3>Your Pig Latin Translation is:</h3>
    <p> <%= @piglatin %> </p>
  </body>
</html>


