<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <h1>Pig Latinizer!</h1>
  </head>
  <body>
  <p>Enter your phrase:</p>
  <form action="/piglatinize" method="post">
      <input type="text" name="user_phrase">
      <input type="submit" value="Submit">
  </form>
  </body>
</html>