<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form method="POST" action="/piglatinize"> 
      Pig Latinizer <input type="text" name="user_text">
      <input id="Submit" type="submit">
    </form>
  
  </body>
</html>