<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinezer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="GET" action="/">
     <label>Enter your phrase: <input type="text" name="name" /></label><br/>
     <input type="submit" id="user_phrase" />
   </form>
     <form method="POST" action="/piglatinize">
   </form>
  </body>
</html>
