<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
  
    <!-- look at basic_sinatra_forms lab -->

    <form method="POST" action='/piglatinize'>
      Enter Text: <input type="text" name="user_phrase"> <br>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>

