<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Input</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method='POST' action="/piglatinize">
      <label for="user_phrase">Enter your phrase:</label>
      <input type="text_area" id="user_phrase" name="user_phrase">
      <input type="submit" id="Submit" name="Submit">
    </form>
  </body>
</html>
