<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="post" action="/piglatinize">
      <label for="user_phrase">Enter your phrase:</label>      
      <p><textarea id="user_phrase" name="user_phrase" rows="10" cols="50"></textarea></p>
      <input type="submit" id="submit" name="Submit">
    </form>
  
  </body>
</html>