<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form>
      <h1>Enter your phrase: <input type='text' name='user_phrase'></h1>
      <input id='Submit' type='submit'>
    </form>
  </body>
</html>