<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    
    <form method="POST" action="/piglatinize" id="form1">
      <p>Enter your phrase:<input type="text" name="user_phrase"></p>
      <button type="submit" form="form1" value="submit">Submit</button>
      
    </form>
  
  </body>
</html>