<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    <form method="POST" action='/piglatinize'>
      <label for="user_phrase">Enter string:</label> 
      <input type="text" name="user_phrase" placeholder="text">
      <input type="submit" id="submit">
    </form>
  
  </body>
</html>