<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/">
    <textarea type="text" name="user_phrase"></textarea>
    <br>
    <p>Enter your phrase:</p>
    <button type="Submit" value="submit">Submit</button>
    </form>
  </body>
</html>