<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <p>Enter your phrase:</p>
      <form method="POST" action='/piglatinize'>
      <p><input type="text" id="phrase" name="user_phrase"></p>
      <p><input type="submit" value="submit"></p>
      </form>
  </body>
</html>