<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/" method="POST">
      <h1>Enter your phrase: <input type="text"  id="user_phrase" name="user_phrase"></h1>
      <input type="submit">
    </form>
  </body>
</html>