<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Enter your phrase:</h1>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">
      <label for="user_phrase">Huynya</label>
      <input type="`text`" name="user_phrase" id="user_phrase">
      <input type="submit" name="fu" value="Submit">
    </form>

  </body>
</html>
