<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form id="form" method="POST" action="/piglatinize">
      <label for="input">Enter your phrase:</label>
      <input name="user_phrase" type="text" placeholder="Enter Text Here">
      <input type="submit" value="Pig Latinizer!">
    </form>

  </body>
</html>
