<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/" id="/piglatinize" method="POST">
      <textarea rows="4" cols="50" name="user_phrase" form="piglatinize">Enter your phrase:</textarea><br>
      <input type="submit">
    </form> 
  </body>
</html>